<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://js.stripe.com/v3/"></script>
    <title>{% block title %}{% endblock %}</title>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: "Trebuchet MS", Arial, sans-serif;
        }

        body {
            background: linear-gradient(to bottom, pink, blue);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>