{% extends 'base.html' %}

{% block title %}
    Homepage
{% endblock %}

{% block content %}
    <h1>Welcome to my Stripe practice homepage</h1>
    Yoy can access following links
    <ul>
        <li><a href="{{ localhost }}/admin/">Admin panel</a></li>
        <li><a href="{{ localhost }}/order/1">Order 1 purchase (available 1 order, more orders can be added trough Admin panel)</a></li>
        <li><a href="{{ localhost }}/item/1">Item 1 purchase (available 2 items, more items can be added trough Admin panel)</a></li>
    </ul>
{% endblock %}