{% extends 'base.html' %}

{% block title %}
    Order purchase
{% endblock %}

{% block content %}

    <div class="description">
        <h3>{{ name }}</h3>
        <div class="order-info">

        <h5> Total cost {{ total }} USD.</h5>
    </div>
    <button id="buy-button" data-order-id="{{ order.id }}">Buy</button>

    <script>
        document.getElementById('buy-button').addEventListener('click', function() {
      var orderId = this.getAttribute('data-order-id');
      var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
      fetch('/order_checkout/' + orderId)
        .then(function(response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .catch(function(error) {
          console.error('Ошибка:', error);
        });
    });
    </script>
{% endblock %}